*, *::after, *::before {
	box-sizing: border-box;
}
root {
	--column-width: 12.14vw;
	--card-height: 13.5968vh;
}

body {
	
	
	
}
.board{
	background-color: white;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
	text-align: center;

}
ul{
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;

}
li{

}
.aces{
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
	text-align: center;
	padding: 5px;
	width: 175px;
	height: 120px;
}
.aces::before{
	content: '';
	align-self: center;
	width: 170px;
	height: 115px;
	background-color: lightgrey;
	background-clip: padding-box;
	 
}
.playArea {
	background-color: rgba(149,175,0,0.81);
	width: 85vw;
	height: 85vh;
	padding: 5px;
	border: 1px solid black;
	display: grid;
	grid-template-columns: repeat(7, 12vw);
	grid-template-rows:12vh 1fr;
	grid-row-gap: 10px;
	text-align: center;
	margin: 0 auto;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
}
.aceHolder{
	
	display: flex;
	flex-direction: row;
	grid-column-start: 1;
	grid-column-end: -1;
	width: 80vw;
	height: 15vh;

}
/*.cardHolder{
	display: grid;
	grid-template-columns: repeat(7,1fr);
	grid-template-rows: 1fr;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
}*/
.column {
	background-color: white;
	height:auto; 
	width:auto;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: ;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
}
.cell{

}
.cell.card::before{
	content: url('spades-A.svg');
	

}	